{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Load the custom CSS -->

  <!-- Hero Section -->
  <div class="hero">
   <h1>
  <span class="first-line">
    <span class="best-text">Best</span>
    <span class="platform-text">Tutoring Platform</span>
  </span><br>
  <span class="second-line">for Home & Online Tuitions</span>
</h1>
    <p><i class="bi bi-geo-alt-fill"></i> FIND THE RIGHT TUTOR & TUITION IN YOUR AREA</p>
    <div class="search-buttons">
  <a href="{% url 'tutor_list' %}">
    <button class="btn border-dark">🔍 FIND TUTORS</button>
  </a>
  <a href="{% url 'find_tuitions' %}">
    <button class="btn border-dark">🔍 FIND TUITIONS</button>
  </a>
</div>
  <!-- Add the image here -->
  <div class="tutorstudent-image">
    <img src="{% static 'images/tutor_studentlogo.png' %}" alt="Home page Tutor Student  Image">
  </div>
<div class="tree-background"> </div>

  <!-- Stats Section -->
  <div class="stats-section">
    <div class="stat-box">
      <h5>📘 TUTORS</h5>
      <p>1255 Verified Tutors</p>
    </div>
    <div class="stat-box">
      <h5>📗 TUITIONS</h5>
      <p>1269 Available Tuitions</p>
    </div>
    <div class="stat-box">
      <h5>📌 COURSES</h5>
      <p>272 Total Courses</p>
    </div>
  </div>

{% endblock %}
